# su daemon
service su_daemon /system/xbin/su --daemon
    user root
    group root
    disabled

on property:persist.sys.root_access=0
    stop su_daemon

on property:persist.sys.root_access=1
    exec /system/bin/setenforce 0
    start su_daemon
